html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F1F7F9;
    color: #064089;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  nav .header{
    font-weight: bold;
  }
  nav .nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  nav .nav-links li a {
    text-decoration: none;
    color: #064089;
    font-weight: 500;
  }
  
  nav .buttons a {
    text-decoration: none;
    padding: 8px 20px;
    border: 1px solid #749DC8;
    border-radius: 5px;
    color: #749DC8;
    font-weight: 500;
    transition: 0.3s;
  }
  
  nav .buttons a:hover {
    background-color: #749DC8;
    color: white;
  }
  
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5%;
  }
  
  .hero-text {
    max-width: 50%;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero-text p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #07326A;
  }
  
  .hero-text a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #0A61C9;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .hero-text a:hover {
    background-color: #064089;
  }
  
  .hero-image img {
    max-width: 100%;
   
  }
  .about_us{
    margin-left: 60px;
    margin-right: 10px;
  }
  .wrapper{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    margin-left: 400px;
    margin-top: 20px;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    
  }
  .wrapper h2{
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #333;
  }
  .wrapper h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    background: #4070f4;
  }
  .wrapper form{
    margin-top: 30px;
  }
  .wrapper form .input-box{
    height: 52px;
    margin: 18px 0;
  }
  form .input-box input{
    height: 100%;
    width: 400px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 0px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }
  .input-box input:focus,
  .input-box input:valid{
    border-color: #4070f4;
  }
  form .policy{
    display: flex;
    align-items: center;
  }
  form h3{
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
  }
  .input-box.button input{
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #4070f4;
    cursor: pointer;
  }
  .input-box.button input:hover{
    background: #0e4bf1;
  }
  form .text h3{
   color: #333;
   width: 100%;
   text-align: center;
  }
  form .text h3 a{
    color: #4070f4;
    text-decoration: none;
  }
  form .text h3 a:hover{
    text-decoration: underline;
  }
  